.main {
    font-family: 'Darker Grotesque', sans-serif;
    background-color:black;
}

.test {
    h1,h2,h3,h4 {
        font-family: 'Fjalla One', cursive;
    }
    p {
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 2.0rem;
    }
    border: 1px solid red;
}