.main {
    font-family: 'Darker Grotesque', sans-serif;
    background-color:black;
}

.test {
    font-family: 'Passion One', cursive;
    p {
        font-family: 'Darker Grotesque', sans-serif;
    }
    border: 1px solid red;
}